In [1]:
import sys
print(sys.executable)

/Users/saifar/.pyenv/versions/3.12.11/bin/python

In [1]:
import pandas as pd

In [2]:
day_tasks_completed = pd.read_csv("/Volumes/Projects/azeem/track-insight/backend-python/mock_data/day_tasks_completed.csv")
day_tasks_completed

,id,quantity,man_count,worked_hours,work_done,total_man_hours,productivity_index
0,1,20,3,10,20,30,1.49
1,2,20,3,10,16,30,1.45
2,3,50,5,10,10,50,0.54
3,4,20,2,10,20,20,2.24

In [4]:
day_tasks_planning = pd.read_csv("/Volumes/Projects/azeem/track-insight/backend-python/mock_data/day_tasks_planning.csv")
day_tasks_planning

,id,quantity,man_count,planned_hours,planned_work_done,total_man_hours,productivity_index
0,1,20,3,10,20,30,1.45
1,2,20,3,10,20,30,1.81
2,3,20,2,10,20,20,2.24

In [5]:
materials_used = pd.read_csv("/Volumes/Projects/azeem/track-insight/backend-python/mock_data/materials_used.csv")
materials_used

   id  quantity
0   1        20
1   2        20
2   3        20